
/*##################################################*/
/*#############mes polices d'écritures##############*/
/*##################################################*/

@font-face {
    font-family: 'print_clearlyregular';
    src: url('PrintClearly-webfont.eot');
    src: url('PrintClearly-webfont.eot?#iefix') format('embedded-opentype'),
         url('PrintClearly-webfont.woff') format('woff'),
         url('PrintClearly-webfont.ttf') format('truetype'),
         url('PrintClearly-webfont.svg#print_clearlyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'print_boldregular';
    src: url('PrintBold-webfont.eot');
    src: url('PrintBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('PrintBold-webfont.woff') format('woff'),
         url('PrintBold-webfont.ttf') format('truetype'),
         url('PrintBold-webfont.svg#print_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*##################################################*/
/*##########mon css titre et corps de page##########*/
/*##################################################*/

*
{
	background-color: #a80030;
}

h1
{
	font-family: 'print_boldregular';
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 4em;
	padding-top:1%;
}

h2
{
	font-family: 'print_boldregular';
	text-align: left;
	color: #FFFFFF;
	font-size: 2.5em;
	text-decoration: underline;
}

p
{
	color:#a80030;
	font-family: 'print_clearlyregular';
	font-size: 1.8em;
	font-weight: bold;
	background-color: #FFFFFF;
}

/*##################################################*/
/*##########cadres autour des paragraphes###########*/
/*##################################################*/


section
{
	border:solid 3px #FFFFFF;
	padding-top: 0%;
	padding-right: 2%;
	padding-bottom: 0%;
	padding-left: 2%;
	border-radius: 10px;
	margin-bottom: 6%;
	background-color: #FFFFFF;

}